version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    cooldown:
      default-days: 7
    schedule:
      interval: "daily"

  - package-ecosystem: "github-actions"
    directory: "/"
    cooldown:
      default-days: 7
    schedule:
      interval: "daily"
