name: Dev Image

on:
  workflow_dispatch:
  workflow_call:
  push:
    branches:
      - main
    paths-ignore:
      - .github/**
      - README.md
      - .pre-commit-config.yaml

jobs:
  ci:
    permissions:
      contents: read
      packages: write
    uses: ./.github/workflows/ci.yaml
  dev-build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    needs:
      - ci
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          persist-credentials: false
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # zizmor: ignore[cache-poisoning]
      - name: GHCR Login
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/dereulenspiegel/smolmailer:latest-dev
