name: Dev Image

on:
  workflow_dispatch:
  workflow_call:
  push:
    branches:
      - main
    paths-ignore:
      - .github/**
      - README.md
      - .pre-commit-config.yaml

jobs:
  ci:
    permissions:
      contents: read
    uses: ./.github/workflows/ci.yaml
  dev-build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    needs:
      - ci
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          persist-credentials: false
      - name: Build and push dev image
        uses: ./.github/actions/build-image
        with:
          tag: latest-dev
          registry-username: ${{ github.actor }}
          registry-password: ${{ secrets.GITHUB_TOKEN }}
