name: CI

on:
  workflow_dispatch:
  workflow_call:
  push:
    branches-ignore:
      - main
    paths-ignore:
      - .github/**
      - README.md
      - .pre-commit-config.yaml

jobs:
  lint:
    if: false # Disable for now until golangci-linter is available for go1.24
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          persist-credentials: false
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5
        with:
          go-version: stable
      - name: golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20
        with:
          version: latest
          args: --timeout=10m

  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        go-versions: ["stable"]

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          persist-credentials: false
      - name: Setup Go ${{ matrix.go-versions }}
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5
        with:
          go-version: ${{ matrix.go-versions }}
      - name: Install dependencies
        run: go get .
      - name: Build everything
        run: go build ./...
      - name: Run tests
        run: go test ./...
