name: Release

on:
  push:
    # run only against tags
    tags:
      - "v*"

jobs:
  ci:
    permissions:
      contents: read
    uses: ./.github/workflows/ci.yaml
  release-image:
    permissions:
      contents: write
      packages: write
    needs: ci
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          persist-credentials: false
      - name: Build and push release image
        uses: ./.github/actions/build-image
        with:
          tag: ${{ github.ref_name }}
          latest-tag: latest
          registry-username: ${{ github.actor }}
          registry-password: ${{ secrets.GITHUB_TOKEN }}
      - name: Create release on GitHub
        shell: bash
        run: | # zizmor: ignore[template-injection]
          gh release create --draft --generate-notes --latest ${{ github.ref_name }}
      - name: Mark release as prerelease
        if: ${{ contains( github.ref_name, 'rc') }}
        shell: bash
        run: | # zizmor: ignore[template-injection]
          gh release edit --prerelease ${{ github.ref_name }}
